.page-container {
    gap: 30px;
    flex-grow: 1;
    display: flex;
    max-width: 1200px;
    box-sizing: border-box;
    align-items: flex-start;
}

.question-section {
    flex-grow: 1;
    display: flex;
    flex-flow: column;
}

.divider {
    width: 100%;
    height: 1px;
    margin: 25px 0;
    background-color: lightgray;
}

::deep .question-section-header-btn {
    /*margin: 5px;*/
    height: 25px;
    /*color: #0F84DB;*/
    padding: 2px 10px;
    /*font-weight: bold;
    font-size: inherit;*/
    line-height: normal;
    /*border-radius: 30px;
    border-color: lightgray;*/
}

::deep .question-item {
    height: 60px;
    border-radius: 5px;
    border-color: lightgray;
}

.result-section {
    width: 320px;
    display: flex;
    padding: 25px;
    min-width: 320px;
    flex-flow: column;
    border-radius: 5px;
    box-shadow: 0 0 15px 0 lightgray;
}

@media screen and (max-width: 1000px) {
    .result-section {
        display: none;
    }
}

::deep .result-header {
    width: 100%;
    color: white;
    height: 40px;
    display: flex;
    padding: 5px 25px;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to right, #006CD9, #00A8F9);
}

::deep .result-btn {
    padding: 0;
    color: gray;
    width: 40px;
    height: 40px;
    min-width: 40px;
    /*border-radius: 5px;
    border-color: lightgray;*/
}

::deep .section-acd:first-child {
    margin-bottom: 20px;
}

::deep .section-acd .bit-acd-ttl {
    /*border: none;*/
    width: 100%;
}

::deep .sections-panel {
    width: 0;
    display: none;
}

@media screen and (max-width: 1000px) {
    ::deep .sections-panel {
        display: flex;
    }
}
