<BitAccordion Class="section-acd" DefaultIsExpanded="true" Title="Section 1">
    <div class="buttons-wrapper">
        @for (int i = 1; i < 16; i++)
        {
            var num = i;
            <BitButton ButtonStyle="BitButtonStyle.Standard" Class="result-btn">@num</BitButton>
        }
    </div>
</BitAccordion>
<BitAccordion Class="section-acd" DefaultIsExpanded="true" Title="Section 2">
    <div class="buttons-wrapper">
        @for (int i = 1; i < 16; i++)
        {
            var num = i;
            <BitButton ButtonStyle="BitButtonStyle.Standard" Class="result-btn">@num</BitButton>
        }
    </div>
</BitAccordion>