.footer {
    width: 100%;
    display: flex;
    padding: 16px 32px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 -2px 15px 0 lightgray;
}

.footer-container {
    flex-grow: 1;
    display: flex;
    max-width: 1200px;
    justify-content: space-between;
}

.footer-content {
    gap: 10px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 720px) {
    .footer {
        padding: 8px;
    }

    .footer-container {
        gap: 5px;
        flex-flow: column;
    }
}

::deep .footer-btn {
    /*    height: 40px;
    color: #0F84DB;
    font-weight: bold;
    padding: 5px 25px;
    border-radius: 30px;
    border-color: lightgray;*/
}

    ::deep .footer-btn.selected-btn {
        /*color: white;
    border: none;
    background: linear-gradient(to right, #006CD9, #00A8F9);*/
    }
