.footer {
    width: 100%;
    display: flex;
    padding: 16px 32px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 -2px 15px 0 lightgray;
}

.footer-container {
    flex-grow: 1;
    display: flex;
    max-width: 1200px;
    justify-content: space-between;
}

.footer-content {
    gap: 10px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 720px) {
    .footer {
        padding: 8px;
    }

    .footer-container {
        gap: 5px;
        flex-flow: column;
    }
}
