<header>
    <div class="header-container">
        <BitTypography Variant="BitTypographyVariant.H6">Question 7 of 15</BitTypography>
        <BitTypography Variant="BitTypographyVariant.H5" Class="app-logo">
            <BitIcon IconName="@BitIconName.Globe" />Science
        </BitTypography>
        <div>
            <BitTypography Variant="BitTypographyVariant.H6" Component="span">Time left : 02:38:54</BitTypography>
            <BitIconButton Class="header-menu" IconName=@BitIconName.CollapseMenu OnClick=ToggleMenu />
        </div>
    </div>
</header>

@code {
    [Parameter] public EventCallback OnToggleMenu { get; set; }


    private async Task ToggleMenu()
    {
        await OnToggleMenu.InvokeAsync();
    }
}
