header {
    top: 0;
    width: 100%;
    color: white;
    height: 55px;
    z-index: 100;
    display: flex;
    position: fixed;
    padding: 8px 32px;
    align-items: center;
    background: linear-gradient(to right, #006CD9, #00A8F9);
}

@media screen and (max-width: 720px) {
    header {
        padding: 8px;
    }
}

.header-container {
    flex-grow: 1;
    display: flex;
    max-width: 1200px;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 500px) {
    ::deep .header-container>:first-child {
        display: none;
    }
}

::deep .app-logo {
    gap: 10px;
    display: flex;
    font-weight: bold;
    align-items: center;
}


::deep .header-menu {
    display: none;
    margin-right: rem(12px);
}

@media screen and (max-width: 1000px) {
    ::deep .header-menu {
        display: inline-block;
    }
}
