@inherits LayoutComponentBase

<Header OnToggleMenu=HandleToggleMenu />

<main>
    <CascadingValue Name="RegisterHandler" Value="RegisterHandler">
        <article>
            @Body
        </article>
    </CascadingValue>

    <Footer />
</main>

@code {
    private List<Action> handlers = new List<Action>();

    private void HandleToggleMenu() => handlers.ForEach(a => a());

    private void RegisterHandler(Action handler) => handlers.Add(handler);
}
