::deep * {
    box-sizing: border-box;
}

main {
    height: 100%;
    display: flex;
    padding-top: 56px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

article {
    width: 100%;
    flex-grow: 1;
    padding: 32px;
    display:flex;
    justify-content:center;
}

@media screen and (max-width: 720px) {
    article {
        padding: 8px;
    }
}
